body {
  color: black;
  padding: 20px;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
}

#info {
  border-radius: 5px;
  margin-top: 55px;
  margin-left: 25%;
  position: absolute;
  top: 0;
  width: 70%;
  border-style: solid;
  border-color: black;
  padding: 10px;
}

#info h3 {
  text-align: center;
}

#info h4 {
  text-align: center;
}

#info p {
  padding-left: 20px !important;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: wavy underline;
  cursor: pointer;
}
